@charset "UTF-8";
/* Welcome to Compass.
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=cyrillic-ext,latin,greek-ext);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* top-header height */
/* sign out */
/* boder */
/* shadow */
/* opacity */
/* img */
/* font */
/* font color */
/*#e91e63;*/
/* bg color */
/* a */
/* menu */
/* width */
/* screen */
/* btn */
/*
@import "extend";
@import "mixin";

@import "index";
*/
/* _all.scss */
* { position: relative; vertical-align: middle; }
*:focus { outline: none; }

a { color: #4d4d4d; text-decoration: none; }

a:hover { color: #00acc1; }

a:focus { color: #4d4d4d; }

body { font-family: Noto Sans TC, Noto Sans; font-size: 14px; color: #4d4d4d; background: #ffffff; letter-spacing: 1.5px; }

img { width: 100%; height: auto; }

.align_center { text-align: center; }

/* 表頭設定 */
#header { position: fixed; top: 0px; z-index: 999; width: 100%; text-align: center; height: 64px; line-height: 64px; background: #ffffff; border-bottom: 1px solid #e8e8e8; /* 手機搜尋區塊開始 */ /* 手機搜尋區塊結束 */ /* 電腦版搜尋區塊開始 */ /* 電腦版搜尋區塊結束 */ /* 通知選單開始 */ /* 登入選單樣式 */ /* 通知選單樣式  */ /* 通知選單結束 */ }
@media (max-width: 800px) { #header { height: 44px; line-height: 44px; } }
#header #mobile_search { display: none; height: 44px; line-height: 44px; }
#header #mobile_search > div { display: inline-block; }
#header #mobile_search.search_box_open { display: inline-block; height: 32px; line-height: 32px; width: 90%; }
@media (max-width: 360px) { #header #mobile_search.search_box_open { width: 98%; } }
#header #mobile_search .header_search .header_search_box { height: 32px; line-height: 32px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #f2f2f2; }
#header #mobile_search .header_search i { font-size: 20px; display: inline-block; margin-left: 16px; }
@media (max-width: 400px) { #header #mobile_search .header_search i { margin-left: 8px; } }
#header #mobile_search .header_search .search_text { vertical-align: top; display: inline-block; width: 200px; line-height: 32px; font-size: 16px; letter-spacing: 1.5px; border: none; background: none; }
@media (max-width: 500px) { #header #mobile_search .header_search .search_text { width: 180px; } }
@media (max-width: 400px) { #header #mobile_search .header_search .search_text { width: 130px; } }
@media (max-width: 360px) { #header #mobile_search .header_search .search_text { width: 120px; } }
#header #mobile_search .header_search .search_btn { width: 90px; height: 32px; font-size: 16px; font-weight: 500; border-left: 2px solid #ffffff; margin-right: 16px; float: right; }
@media (max-width: 400px) { #header #mobile_search .header_search .search_btn { margin-right: 8px; } }
#header #mobile_search .header_search .search_btn i { margin-left: 0; }
#header #mobile_search .header_search .search_btn #search_type { height: 32px; line-height: 32px; margin-left: 8px; }
#header #mobile_search .header_search .search-menu { left: 246px; min-width: 94px; }
@media (max-width: 800px) { #header #mobile_search .header_search .search-menu { left: 240px; min-width: 96px; } }
@media (max-width: 812px) { #header #mobile_search .header_search .search-menu { left: 250px; } }
@media (max-width: 823px) { #header #mobile_search .header_search .search-menu { left: 230px; } }
@media (max-width: 768px) { #header #mobile_search .header_search .search-menu { left: 240px; } }
@media (max-width: 736px) { #header #mobile_search .header_search .search-menu { left: 240px; } }
@media (max-width: 667px) { #header #mobile_search .header_search .search-menu { left: 240px; } }
@media (max-width: 500px) { #header #mobile_search .header_search .search-menu { left: 168px; min-width: 90px; } }
@media (max-width: 411px) { #header #mobile_search .header_search .search-menu { left: 220px; } }
@media (max-width: 375px) { #header #mobile_search .header_search .search-menu { left: 160px; } }
@media (max-width: 360px) { #header #mobile_search .header_search .search-menu { left: 150px; } }
#header #mobile_search .header_search .search-menu a { font-size: 16px; font-weight: 500; }
#header #mobile_search .header_search_close { float: right; font-size: 20px; }
@media (max-width: 360px) { #header #mobile_search .header_search_close { margin-right: 5%; } }
#header #header_top { position: relative; width: 92%; height: 44px; line-height: 44px; display: inline-block; font-weight: 500; text-align: right; }
@media (max-width: 1200px) { #header #header_top { width: 94%; } }
@media (max-width: 1024px) { #header #header_top { width: 96%; } }
@media (max-width: 1000px) { #header #header_top { width: 99%; } }
@media (max-width: 800px) { #header #header_top { height: 44px; line-height: 44px; text-align: right; width: 100%; } }
#header #header_top.header_top_close { display: none; }
#header #header_top > div { display: inline-block; }
#header #header_top .header_logo { float: left; width: 170px; background: url("../images/assets-v7/logo.svg") no-repeat center left; background-size: 210px 42px; margin-left: -2.2%; }
@media (max-width: 1200px) { #header #header_top .header_logo { margin-left: -3.2%; } }
@media (max-width: 1024px) { #header #header_top .header_logo { margin-left: -4.5%; } }
@media (max-width: 800px) { #header #header_top .header_logo { overflow: hidden; margin-left: 2.4%; width: 44px; height: 44px; line-height: 44px; background-size: 30px 31px !important; background: url("https://cdn.pinpinbox.com/static_file/pinpinbox/zh_TW/images/m_logo.png") no-repeat center left; } }
#header #header_top .header_logo a { color: transparent; }
#header #header_top .pin_creator { float: left; width: auto; font-size: 16px; font-weight: 500; letter-spacing: 1.5px; margin-left: 2.4%; height: 44px; line-height: 42px; }
@media (max-width: 1024px) { #header #header_top .pin_creator { margin-left: 1%; } }
@media (max-width: 360px) { #header #header_top .pin_creator { margin-left: -2%; font-size: 14px; } }
#header #header_top .pin_creator a { color: #ee5b8d; }
#header #header_top .header_search { float: left; position: relative; margin-left: 2.4%; height: 44px; line-height: 40px; }
@media (max-width: 1024px) { #header #header_top .header_search { margin-left: 1%; } }
@media (max-width: 800px) { #header #header_top .header_search { display: none; } }
#header #header_top .header_search .header_search_box { position: relative; display: inline-block; height: 40px; line-height: 40px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; background: #f2f2f2; vertical-align: middle; }
#header #header_top .header_search i { font-size: 22px; display: inline-block; margin-left: 16px; vertical-align: middle; margin-top: -4px; }
#header #header_top .header_search .search_text { vertical-align: top; display: inline-block; width: 200px; line-height: 38px; font-size: 16px; letter-spacing: 1.5px; border: none; background: none; }
@media (max-width: 1024px) { #header #header_top .header_search .search_text { width: 120px; } }
#header #header_top .header_search .search_btn { display: inline-block; width: 90px; height: 40px; line-height: 40px; font-size: 16px; border-left: 2px solid #ffffff; margin-right: 16px; cursor: pointer; }
#header #header_top .header_search .search_btn i { margin-left: 0; }
#header #header_top .header_search .search_btn #search_type { display: inline-block; line-height: 40px; height: 40px; }
#header #header_top .header_menu { height: 44px; }
@media (max-width: 800px) { #header #header_top .header_menu { display: none; } }
#header #header_top .header_menu a { display: inline-block; height: 44px; line-height: 40px; text-align: right; font-size: 16px; margin-left: 40px; vertical-align: middle; }
@media (max-width: 1200px) { #header #header_top .header_menu a { margin-left: 20px; } }
@media (max-width: 1024px) { #header #header_top .header_menu a { margin-left: 10px; } }
@media (max-width: 1000px) { #header #header_top .header_menu a { margin-left: 8px; } }
#header #header_top .header_menu #login { overflow: hidden; }
#header #header_top .header_menu #login img { width: 42px; height: 42px; border-radius: 100px; }
#header #header_top .mobile_menu { float: none; display: none; text-align: right; margin-right: 2.8%; }
@media (max-width: 800px) { #header #header_top .mobile_menu { display: inline-block; height: 44px; line-height: 44px; } }
#header #header_top .mobile_menu i { margin-left: 16px; font-size: 20px; line-height: 44px; }
#header #login_menu { display: none; position: absolute; right: 0; width: 360px; background: #ffffff; border: 1px solid #d4d4d4; padding: 32px; height: auto; max-height: 70vh; font-size: 18px; letter-spacing: 1.5px; }
@media (max-width: 800px) { #header #login_menu { width: 100%; max-height: 96vh; font-size: 16px; } }
@media (max-width: 320px) { #header #login_menu { max-height: 92vh; } }
#header #login_menu ul { width: 100%; }
#header #login_menu ul li { text-align: left; border-bottom: 1px solid #d4d4d4; margin-bottom: 32px; line-height: 24px; }
@media (max-width: 800px) { #header #login_menu ul li { line-height: 22px; } }
#header #login_menu ul li a { margin-left: 0; }
#header #login_menu ul li > div { display: inline-block; width: 49%; }
#header #login_menu ul li > div:first-child { vertical-align: top; }
#header #login_menu ul li > div:last-child { font-weight: 500; }
#header #login_menu ul li ul li { border-bottom: 0; margin-bottom: 16px; }
#header #login_menu ul li ul li:last-child { margin-bottom: 32px; }
#header #login_menu ul li:last-child { border-bottom: 0; margin-bottom: 0; }
#header #login_menu.login_menu_down { display: block; position: absolute; right: 0; overflow-y: auto; }
@media (max-width: 800px) { #header #login_menu.login_menu_down { margin-top: -1px; } }
#header #notifier_menu { display: none; position: absolute; right: 0; width: 360px; background: #ffffff; border: 1px solid #d4d4d4; padding: 32px; text-align: left; letter-spacing: 1.5px; max-height: 70vh; }
@media (max-width: 800px) { #header #notifier_menu { width: 100%; max-height: 92vh; } }
#header #notifier_menu ul li { border-bottom: 1px solid #d4d4d4; margin-bottom: 16px; }
#header #notifier_menu ul li a > div { display: inline-block; }
#header #notifier_menu ul li a > div:nth-child(2) { margin-left: 16px; vertical-align: top; }
#header #notifier_menu ul li a a { margin-left: 0; }
#header #notifier_menu ul li a img { object-fit: cover; width: 100%; height: 100%; }
#header #notifier_menu ul li a div:last-child span { display: block; line-height: 25px; }
#header #notifier_menu ul li a div:last-child span:first-child { overflow: hidden; width: 200px; white-space: nowrap; text-overflow: ellipsis; }
@media (max-width: 360px) { #header #notifier_menu ul li a div:last-child span:first-child { width: 220px; } }
#header #notifier_menu ul li a div:last-child span:last-child { color: #d4d4d4; }
#header #notifier_menu ul li:last-child { border-bottom: 0; margin-bottom: 0; }
#header #notifier_menu.login_menu_down { display: block; overflow-y: auto; position: absolute; }
@media (max-width: 800px) { #header #notifier_menu.login_menu_down { margin-top: -1px; } }
#header #notifier_menu .notifier_img_c, #header #notifier_menu .notifier_img_w { overflow: hidden; width: 48px; height: 48px; }
#header #notifier_menu .notifier_img_c { -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
#header #notifier_menu .notifier_img_w { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* 搜尋選單開始 */
.search_menu { display: none; background: #ffffff; border: 1px solid #d4d4d4; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; text-align: center; letter-spacing: 2px; width: 118%; }
@media (max-width: 800px) { .search_menu { width: 120%; } }
@media (max-width: 400px) { .search_menu { width: 110%; } }

.search_menu_down { display: block !important; position: absolute; margin-top: 12px; }
@media (max-width: 800px) { .search_menu_down { margin-top: 6px; } }

/* 搜尋選單結束 */
/* FOOTER區塊開始 */
#footer { display: block; width: 100%; background-color: #555555; text-align: center; }
@media (max-width: 800px) { #footer { height: 100%; padding: 3%; } }
#footer #footer_area { display: inline-block; width: 80%; color: #ffffff; text-align: left; line-height: 64px; height: 64px; letter-spacing: 1.5px; }
@media (max-width: 800px) { #footer #footer_area { height: 96px; } }
@media (max-width: 1200px) { #footer #footer_area { width: 96%; } }
@media (max-width: 1024px) { #footer #footer_area { line-height: 42px; height: 42px; width: 98%; } }
@media (max-width: 500px) { #footer #footer_area { height: 130px; line-height: 30px; } }
#footer #footer_area ul li { display: inline-block; margin-right: 2%; }
@media (max-width: 800px) { #footer #footer_area ul li { display: block; } }
#footer #footer_area ul li a { color: #fff !important; }
@media (max-width: 800px) { #footer #footer_area ul li:not(.mobile_show) { display: none; } }
#footer #footer_area ul li:last-child { margin-right: 0; }
#footer #footer_area .mobile_footer_lang { display: none; }
@media (max-width: 800px) { #footer #footer_area .mobile_footer_lang { display: block; position: absolute; right: 0; top: 6px; } }
@media (max-width: 800px) { #footer #footer_area .mobile_footer_lang select { width: 40vw; height: 30px; color: #4d4d4d; } }
#footer #footer_area .dropdown-menu li { width: 100%; }
#footer #footer_area .dropdown-menu li a { color: #4d4d4d !important; }
#footer #footer_area .dropdown-menu li a:hover { color: #00acc1 !important; background: none; }
#footer .footer_copyright { float: right; }
@media (max-width: 900px) { #footer .footer_copyright { display: none !important; } }

/* 回上方箭頭與FB區塊 */
#right_btn { position: fixed; right: 4%; z-index: 100; bottom: 80px; width: 52px; }

#scroll_top { display: none; width: 100%; height: auto; margin-bottom: 15px; }
#scroll_top img { width: 100%; height: auto; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
#scroll_top img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
@media (max-width: 800px) { #scroll_top img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@media (max-width: 800px) { #scroll_top img { width: 100%; height: auto; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; } }

#p_link { width: 100%; height: auto; }
@media (max-width: 800px) { #p_link { display: none; } }

@media (max-width: 800px) { .topFixed { display: block !important; } }

.notifier_icon:before { content: ' '; }

.notifier_icon { display: inline-block; margin-top: -24px; margin-left: 4px; width: 12px; height: 12px; background: #ee5b8d; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; vertical-align: middle; }

.btn_new { display: block; width: 100%; font-size: 16px; height: 40px; line-height: 40px; text-align: center; background: #f2f2f2; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
@media (max-width: 800px) { .btn_new { font-size: 12px; height: 32px; line-height: 32px; } }

/* 首頁區塊開始 */
/* 輪播設定開始 */
#bannner { clear: both; overflow: hidden; margin: 64px auto 0 auto; height: 100%; width: 1920px; font-weight: 500; }
@media (max-width: 1919px) { #bannner { width: 100%; } }
@media (max-width: 1024px) { #bannner { text-align: center; } }
@media (max-width: 800px) { #bannner { margin-top: 44px; } }
#bannner > div { display: block; }
@media (max-width: 800px) { #bannner > div { display: block; width: 100%; font-size: 18px; } }
#bannner #banner_carousel { height: 500px; width: 100%; overflow: hidden; }
@media (max-width: 1024px) { #bannner #banner_carousel { height: 540px; } }
@media (max-width: 800px) { #bannner #banner_carousel { height: 460px; } }
@media (max-width: 600px) { #bannner #banner_carousel { height: 420px; } }
@media (max-width: 500px) { #bannner #banner_carousel { height: 320px; } }
@media (max-width: 400px) { #bannner #banner_carousel { height: 300px; } }
@media (max-width: 360px) { #bannner #banner_carousel { height: 260px; } }
#bannner #banner_carousel img { object-fit: cover; width: 100%; height: 500px; display: block; margin: auto; }
@media (max-width: 1024px) { #bannner #banner_carousel img { height: 540px; } }
@media (max-width: 800px) { #bannner #banner_carousel img { height: 460px; } }
@media (max-width: 600px) { #bannner #banner_carousel img { height: 420px; } }
@media (max-width: 500px) { #bannner #banner_carousel img { height: 320px; } }
@media (max-width: 400px) { #bannner #banner_carousel img { height: 300px; } }
@media (max-width: 360px) { #bannner #banner_carousel img { height: 260px; } }
#bannner #banner_catbtn { position: absolute; right: 6%; bottom: 6%; z-index: 2; font-size: 22px; }
@media (max-width: 1600px) { #bannner #banner_catbtn { right: 4%; bottom: 2%; } }
@media (max-width: 1500px) { #bannner #banner_catbtn { right: 2%; bottom: 0; } }
@media (max-width: 1024px) { #bannner #banner_catbtn { position: relative; right: 0; font-size: 20px; } }
@media (max-width: 800px) { #bannner #banner_catbtn { margin: auto; } }
@media (max-width: 500px) { #bannner #banner_catbtn { padding: 0; padding-top: 3%; font-size: 16px; } }
@media (max-width: 400px) { #bannner #banner_catbtn { font-size: 12px; } }
@media (max-width: 360px) { #bannner #banner_catbtn { margin-top: -4px; } }
#bannner #banner_catbtn > div { position: relative; display: block; line-height: 36px; width: 380px; color: #ffffff; text-align: justify; cursor: pointer; overflow: hidden; letter-spacing: 4px; margin-bottom: 10%; text-shadow: #9d9d9d 0px 0px 5px; padding-left: 160px; }
@media (max-width: 1200px) { #bannner #banner_catbtn > div { width: 300px; margin-bottom: 8%; padding-left: 90px; } }
@media (max-width: 1024px) { #bannner #banner_catbtn > div { display: inline-block; width: 20%; margin: 2% 1%; color: #d4d4d4; padding-left: 0; text-shadow: none; line-height: 36px; text-align: center; vertical-align: top; padding-top: 4px; } }
@media (max-width: 600px) { #bannner #banner_catbtn > div { line-height: 20px; font-size: 18px; } }
@media (max-width: 500px) { #bannner #banner_catbtn > div { width: 72px; font-size: 10px; letter-spacing: 1px; line-height: 20px; margin-right: 2.5%; } }
@media (max-width: 360px) { #bannner #banner_catbtn > div { margin-right: 2%; width: 66px; } }
#bannner #banner_catbtn > div:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.carousel_btn_on { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; background: url(../images/assets-v7/btn_arrow.svg) no-repeat center left; }
@media (max-width: 1200px) { .carousel_btn_on { background-position: center left; background-repeat: no-repeat; background-size: 22% 20%; } }
@media (max-width: 1024px) { .carousel_btn_on { background: none; border-top: 2px solid #4d4d4d; color: #4d4d4d !important; } }

.carousel_btn_off { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; border-image: none; }

/* 輪播設定結束 */
/* 主要內容開始 */
#content { width: 100%; /* 累積贊助次數開始 */ /* 累積贊助次數結束 */ /* 中間內容區塊開始 */ /* 中間內容區塊結束 */ /* 下方內容區塊開始 */ /* 下方內容區塊結束 */ /* 新加入區塊開始 */ /* 新加入區塊結束 */ /* 分類區塊開始 */ /* 分類區塊結束 */ /* 低門檻募資就醬EZ!4個STEP區塊開始 */ /* 低門檻募資就醬EZ!4個STEP區塊結束 */ /* 影片與PINPINBOX介紹區塊開始 */ /* 影片與PINPINBOX介紹區塊結束 */ }
#content .plan_info_count { width: 100%; display: block; text-align: center; margin-top: 48px; line-height: 2.2; font-size: 24px; letter-spacing: 1.5px; }
@media (max-width: 800px) { #content .plan_info_count { font-size: 20px; } }
@media (max-width: 500px) { #content .plan_info_count { font-size: 16px; line-height: 2; } }
#content .plan_info_count .plan_info_count_area { display: table; height: 180px; width: 1024px; text-align: right; margin: auto; }
@media (max-width: 1200px) { #content .plan_info_count .plan_info_count_area { width: 96%; } }
@media (max-width: 800px) { #content .plan_info_count .plan_info_count_area { text-align: center; } }
#content .plan_info_count .plan_info_count_area > div { display: table-cell; width: 40%; margin: auto; }
@media (max-width: 800px) { #content .plan_info_count .plan_info_count_area > div { display: inline-block; } }
#content .plan_info_count .plan_info_count_area > div span { display: block; }
#content .plan_info_count .plan_info_count_area div:first-child { width: 20%; font-size: 32px; text-align: center; line-height: 50px; padding-right: 8px; }
@media (max-width: 1024px) { #content .plan_info_count .plan_info_count_area div:first-child { font-size: 24px; } }
@media (max-width: 800px) { #content .plan_info_count .plan_info_count_area div:first-child { display: block; width: 50%; margin-bottom: 4px; } }
@media (max-width: 500px) { #content .plan_info_count .plan_info_count_area div:first-child { font-size: 20px; } }
@media (max-width: 800px) { #content .plan_info_count .plan_info_count_area div:first-child span { display: inline-block; } }
#content .plan_info_count .plan_info_count_area div:nth-child(2) { padding-right: 128px; border-right: 4px solid #eef4f4; }
@media (max-width: 1024px) { #content .plan_info_count .plan_info_count_area div:nth-child(2) { padding-right: 80px; } }
@media (max-width: 800px) { #content .plan_info_count .plan_info_count_area div:nth-child(2) { width: 50%; padding-right: 0; } }
#content .plan_info_count .plan_info_count_area div:last-child { padding-right: 32px; }
@media (max-width: 800px) { #content .plan_info_count .plan_info_count_area div:last-child { width: 50%; } }
#content .plan_info_count .plan_info_num { font-size: 72px; font-weight: 700; font-family: Noto Sans; margin-bottom: -32px; }
@media (max-width: 800px) { #content .plan_info_count .plan_info_num { font-size: 48px; } }
@media (max-width: 500px) { #content .plan_info_count .plan_info_num { font-size: 40px; margin-bottom: -24px; } }
#content .main_content { clear: both; margin: auto; width: 1024px; max-height: 100%; /*  熱門推薦區塊開始 */ }
@media (max-width: 1024px) { #content .main_content { width: 98%; } }
@media (max-width: 800px) { #content .main_content { padding-top: 0; } }
@media (max-width: 500px) { #content .main_content { width: 100%; } }
#content .main_content ul li { display: inline-block; padding: 0; font-size: 24px; margin: 64px 32px 32px 18px; letter-spacing: 4px; font-weight: 500; }
#content .main_content .nav > li > a:focus { background: none !important; }
#content .main_content .nav { margin-left: 0.6%; }
@media (max-width: 500px) { #content .main_content .nav { margin-left: -1%; } }
#content .main_content .nav > li > a:hover { background: none !important; }
#content .main_content .nav-pills > li a { padding: 10px 7px; }
#content .main_content .nav-pills > li > a { color: #d4d4d4 !important; }
#content .main_content .nav-pills > li.active > a { color: #4d4d4d !important; background: none !important; }
#content .main_content .tab-container { margin: 0 auto; }
@media (max-width: 800px) { #content .main_content .tab-container ul li { font-size: 24px; } }
@media (max-width: 500px) { #content .main_content .tab-container ul li { font-size: 18px; padding-left: 0.5%; margin: 16px 32px 0 16px; } }
#content .main_content .tab-container .tab_content { margin: 0 auto; }
@media (max-width: 500px) { #content .main_content .tab-container .tab_content { text-align: center; } }
#content .main_content .tab-container .tab_content .tab { display: none; text-align: center; }
#content .main_content .tab-container .tab_content .tab.active { display: block; }
#content .main_content .tab-container .hit_story { display: inline-block; height: 100%; width: 29.9%; margin: -1% 0.1% 2% 3%; overflow: hidden; font-size: 14px; line-height: 25px; text-align: justify; }
@media (max-width: 1024px) { #content .main_content .tab-container .hit_story { width: 28%; margin: -1% 2% 3% 3%; } }
@media (max-width: 1000px) { #content .main_content .tab-container .hit_story { margin: -1% 1.8% 2% 3%; } }
@media (max-width: 812px) { #content .main_content .tab-container .hit_story { margin: -1% 1.8% 3% 3%; } }
@media (max-width: 800px) { #content .main_content .tab-container .hit_story { margin: 2% 1% 1% 2%; width: 45%; } }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story { margin: 0 2% 2% 2%; width: 100%; margin-left: 0; margin-right: 0; } }
@media (max-width: 800px) { #content .main_content .tab-container .hit_story:not(:nth-child(-n+4)) { display: none; } }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story .hit_story:not(:nth-child(-n+2)) { display: none; } }
#content .main_content .tab-container .hit_story div { margin: 0 auto; }
@media (max-width: 800px) { #content .main_content .tab-container .hit_story div { margin-bottom: 2.5%; } }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story div { margin-bottom: 3%; } }
#content .main_content .tab-container .hit_story .story_img { margin-bottom: 16px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; overflow: hidden; width: 100%; height: 100%; color: #ffffff; font-size: 24px; }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story .story_img { overflow: auto; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; } }
#content .main_content .tab-container .hit_story .story_img .creator_banner { background: url("../images/assets-v7/grey-bg.png") 100% 100%; object-fit: cover; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; overflow: hidden; }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story .story_img .creator_banner { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; } }
#content .main_content .tab-container .hit_story .story_img .creator_banner img { vertical-align: middle; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
#content .main_content .tab-container .hit_story .creator_info { display: none; position: absolute; z-index: 2; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; height: 64px; text-align: center; }
#content .main_content .tab-container .hit_story .creator_info span { display: inline-block; height: 64px; vertical-align: middle; }
#content .main_content .tab-container .hit_story .creator_info span:first-child { overflow: hidden; width: 64px; height: 64px; -moz-border-radius: 100px; -webkit-border-radius: 100px; border-radius: 100px; border: 4px solid #ffffff; }
#content .main_content .tab-container .hit_story .creator_info span:last-child { line-height: 64px; margin-left: 16px; overflow: hidden; width: 134px; white-space: nowrap; text-overflow: ellipsis; }
#content .main_content .tab-container .hit_story .story_desc { margin-bottom: 16px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; line-height: 25px; height: 75px; letter-spacing: 1.5px; text-align: justify; }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story .story_desc { width: 92%; } }
@media (max-width: 400px) { #content .main_content .tab-container .hit_story .story_desc { width: 90%; } }
#content .main_content .tab-container .hit_story .story_info { margin-bottom: 16px; border-top: 2px solid #d4d4d4; font-size: 14px; text-align: right; padding-top: 3.2%; }
#content .main_content .tab-container .hit_story .story_info > div { display: inline-block; }
#content .main_content .tab-container .hit_story .story_info > div:nth-child(1) { float: left; }
#content .main_content .tab-container .hit_story .story_info a div { color: #4d4d4d; }
@media (max-width: 500px) { #content .main_content .tab-container .hit_story .story_info { width: 92%; } }
@media (max-width: 400px) { #content .main_content .tab-container .hit_story .story_info { width: 90%; } }
#content .main_content .tab-container .hit_story_hover:hover .creator_info { display: block; }
#content .main_content .tab-container .hit_story_hover:hover .creator_banner img { filter: brightness(60%); }
#content .pin_count, #content .story_view { color: #4d4d4d; }
#content .pin_count_num { font-weight: 500; }
#content .main_content2 { clear: both; padding-bottom: 6%; width: 1920px; margin: auto; margin-top: 64px; background: #f9fbfb; text-align: center; }
@media (max-width: 1919px) { #content .main_content2 { width: 100%; } }
@media (max-width: 800px) { #content .main_content2 { padding-bottom: 0; } }
#content .main_content2 .tab-container ul { text-align: center; }
#content .main_content2 .tab-container ul li { display: inline-block; padding: 0; font-size: 24px; margin: 64px 32px 32px 16px; letter-spacing: 5px; font-weight: 500; color: #0f8399; font-size: 42px; }
@media (max-width: 800px) { #content .main_content2 .tab-container ul li { margin: 96px auto 32px 32px; font-size: 38px; } }
@media (max-width: 500px) { #content .main_content2 .tab-container ul li { font-size: 26px; } }
@media (max-width: 400px) { #content .main_content2 .tab-container ul li { margin: 96px auto 32px auto; } }
#content .main_content2 .tab-container .nav > li > a:focus { background: none !important; }
#content .main_content2 .tab-container .nav > li > a:hover { background: none !important; }
#content .main_content2 .tab-container .nav-pills > li { float: none; }
#content .main_content2 .tab-container .nav-pills > li a { padding: 10px 7px; }
#content .main_content2 .tab-container .nav-pills > li > a { color: #d4d4d4 !important; }
#content .main_content2 .tab-container .nav-pills > li.active > a { color: #4d4d4d !important; background: none !important; }
#content .main_content2 .tab-container .tab_content .tab { display: none; }
#content .main_content2 .tab-container .tab_content .tab.active { display: block; }
#content .nav-pills > .active > a, #content .nav-pills > .active > a:hover { color: #00acc1 !important; }
#content .new_star { text-align: right; width: 33.3%; display: table-cell; letter-spacing: 1.5px; }
@media (max-width: 500px) { #content .new_star { width: 100%; display: block; margin: 4% auto; } }
@media (max-width: 800px) { #content .new_star:not(:nth-child(-n+2)) { display: none; } }
#content .new_star div { margin: 0 auto; margin-bottom: 7.2%; text-align: center; }
#content .new_star .star_name { width: 90%; text-align: center; font-size: 26px; }
#content .new_star .star_img { width: 300px; height: 300px; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; overflow: hidden; background: url("../images/assets-v7/grey-bg.png") 100% 100%; object-fit: cover; }
@media (max-width: 1024px) { #content .new_star .star_img { width: 240px; height: 240px; } }
@media (max-width: 500px) { #content .new_star .star_img { width: 300px; height: 300px; } }
#content .new_star .star_img img { object-fit: cover; width: 100%; height: 100%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; }
#content .new_star .story_desc { width: 88%; overflow: hidden; word-wrap: break-word; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; line-height: 25px; height: 75px; letter-spacing: 1.5px; text-align: left; text-align: justify; }
@media (max-width: 500px) { #content .new_star .story_desc { width: 92%; } }
#content .new_star:first-child { text-align: left; }
#content .cat_areaw { display: inline-block; overflow: hidden; width: 204px; text-align: center; margin: 0 2.3% 3.2% 2.3%; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; font-size: 18px; font-weight: 500; letter-spacing: 2px; vertical-align: middle; background: #ffffff; box-shadow: 0px 8px 24px 0px #e3e3e3; color: #9e9e9e; /* 維持正方形比例 */ }
@media (max-width: 1920px) { #content .cat_areaw { width: 20%; } }
@media (max-width: 1024px) { #content .cat_areaw { width: 19.8%; } }
@media (max-width: 800px) { #content .cat_areaw { width: 27.8%; margin: 2.45%; } }
@media (max-width: 600px) { #content .cat_areaw { margin: 2.4%; } }
@media (max-width: 500px) { #content .cat_areaw { margin: 3.2%; width: 42%; } }
#content .cat_areaw .cat_info { position: absolute; z-index: 2; top: 0; bottom: 0; right: 0; left: 10px; margin: auto; height: 100px; width: 100%; color: #9e9e9e; letter-spacing: 16px; }
#content .cat_areaw .cat_area { display: inline-block; line-height: 40px; width: 100%; padding-bottom: 100%; margin: auto; }
#content .cat_areaw .cat_area div { margin: auto; }
#content .cat_areaw .cat_area .cat_01 { position: absolute; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden; }
#content .cat_areaw .cat_area .cat_img { width: 100%; height: 100%; }
#content .cat_areaw .cat_area .cat_img img { object-fit: cover; width: 100%; height: 100%; text-align: center; }
#content .pin_plan_step { width: 70%; text-align: center; margin: 2% auto 2% auto; font-size: 18px; }
@media (max-width: 1600px) { #content .pin_plan_step { width: 80%; } }
@media (max-width: 1400px) { #content .pin_plan_step { width: 94%; } }
@media (max-width: 1024px) { #content .pin_plan_step { font-size: 16px; } }
@media (max-width: 800px) { #content .pin_plan_step { width: 100%; } }
@media (max-width: 500px) { #content .pin_plan_step { margin-left: 0; } }
#content .pin_plan_step > div { display: inline-block; width: 30%; margin: 1% 4% 1% 5%; vertical-align: top; letter-spacing: 1.5px; line-height: 25px; text-align: center; }
@media (max-width: 800px) { #content .pin_plan_step > div { width: 36%; } }
@media (max-width: 600px) { #content .pin_plan_step > div { width: 44%; } }
@media (max-width: 800px) { #content .pin_plan_step div { margin: 1% 5% 1% 8%; } }
@media (max-width: 500px) { #content .pin_plan_step div { display: block; width: 68%; margin: 1% auto 2% auto; } }
@media (max-width: 400px) { #content .pin_plan_step div { width: 78%; } }
@media (max-width: 600px) { #content .pin_plan_step div { margin: 1% 2%; } }
@media (max-width: 500px) { #content .pin_plan_step div { margin: 1% auto; } }
#content .pin_plan_step div .step_title { font-size: 24px; font-weight: 500; color: #4d4d4d; margin-bottom: 16px; letter-spacing: 4px; }
#content .pin_plan_step div .step_desc { text-align: center; height: 75px; letter-spacing: 1.5px; width: 92%; line-height: 36px; }
@media (max-width: 800px) { #content .pin_plan_step div .step_desc { width: 96%; } }
#content .pin_plan_step .step_img { width: 100%; }
#content .pin_plan_step .pin_plan_step1 div { display: block; text-align: center; margin: 3% auto; }
#content .pin_plan_step .pin_plan_step2 div { display: block; text-align: center; margin: 3% auto; }
#content .pin_plan_step .pin_plan_step3 div { display: block; text-align: center; margin: 3% auto; }
#content .pin_plan_step .pin_plan_step4 div { display: block; text-align: center; margin: 3% auto; }
#content .pin_plan { width: 75%; display: inline-block; text-align: center; overflow: hidden; letter-spacing: 3px; }
@media (max-width: 1340px) { #content .pin_plan { width: 85%; } }
@media (max-width: 1200px) { #content .pin_plan { width: 96%; } }
@media (max-width: 1024px) { #content .pin_plan { width: 98%; } }
@media (max-width: 800px) { #content .pin_plan { width: 100%; margin-bottom: 4.6%; } }
#content .pin_plan .plan_video { display: inline-block; width: 45%; vertical-align: top; text-align: justify; width: 50%; }
@media (max-width: 800px) { #content .pin_plan .plan_video { display: block; width: 100%; } }
@media (max-width: 500px) { #content .pin_plan .plan_video { margin: 0 auto; } }
#content .pin_plan .plan_info { display: inline-block; width: 45%; vertical-align: top; text-align: justify; font-size: 18px; color: #0f8399; line-height: 36px; }
@media (max-width: 1024px) { #content .pin_plan .plan_info { font-size: 18px; } }
@media (max-width: 800px) { #content .pin_plan .plan_info { display: block; width: 100%; margin-bottom: 32px; } }
@media (max-width: 500px) { #content .pin_plan .plan_info { margin: 2% auto 0 auto; } }
#content .pin_plan .plan_info .plan_info_title { margin-left: -16px; margin-top: -20px; display: block; font-size: 36px; line-height: 75px; letter-spacing: 1.5px; }
@media (max-width: 1880px) { #content .pin_plan .plan_info .plan_info_title { font-size: 34px; } }
@media (max-width: 1790px) { #content .pin_plan .plan_info .plan_info_title { font-size: 32px; } }
@media (max-width: 1690px) { #content .pin_plan .plan_info .plan_info_title { font-size: 28px; } }
@media (max-width: 1490px) { #content .pin_plan .plan_info .plan_info_title { font-size: 26px; } }
@media (max-width: 1400px) { #content .pin_plan .plan_info .plan_info_title { font-size: 24px; } }
@media (max-width: 1000px) { #content .pin_plan .plan_info .plan_info_title { font-size: 20px; } }
@media (max-width: 800px) { #content .pin_plan .plan_info .plan_info_title { margin-top: 0; text-align: center; } }
@media (max-width: 500px) { #content .pin_plan .plan_info .plan_info_title { font-size: 18px; } }
#content .pin_plan .plan_info > div { display: inline-block; padding: 0 0 0 9.6%; width: auto; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
@media (max-width: 800px) { #content .pin_plan .plan_info > div { padding: 0 2.5%; margin: auto; } }
@media (max-width: 500px) { #content .pin_plan .plan_info > div { padding: 2% 5%; } }
#content .plan_video_wrap { width: 100%; padding-top: 56.25%; }
#content .plan_video_cnt { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; }
#content .plan_video_cnt iframe { width: 100%; height: 100%; }

/* 主要內容區塊結束 */
/* 首頁區塊結束 */
/* 創作人專區區塊開始 */
.creative_content_header { position: fixed; top: 64px; z-index: 20; width: 100%; text-align: center; height: 64px; background: #ffffff; border-bottom: 1px solid #e8e8e8; vertical-align: middle; }
@media (max-width: 800px) { .creative_content_header { top: 44px; height: 44px; } }
.creative_content_header .creative_info_area { display: table; margin: auto; height: 64px; }
@media (max-width: 800px) { .creative_content_header .creative_info_area { height: 44px; } }
.creative_content_header .creative_info_area > div { display: table-cell; vertical-align: middle; }
.creative_content_header .creative_info_area #creative_name { font-size: 22px; }
@media (max-width: 800px) { .creative_content_header .creative_info_area #creative_name { font-size: 14px; } }
.creative_content_header .creative_info_area #creative_name > span { display: inline-block; vertical-align: middle; }
.creative_content_header .creative_info_area #creative_name > span:last-child { margin-left: 16px; overflow: hidden; width: 160px; white-space: nowrap; text-overflow: ellipsis; }
@media (max-width: 1024px) { .creative_content_header .creative_info_area #creative_name > span:last-child { margin-left: 6px; width: 140px; } }
@media (max-width: 800px) { .creative_content_header .creative_info_area #creative_name > span:last-child { margin-left: 8px; width: 120px; } }
@media (max-width: 400px) { .creative_content_header .creative_info_area #creative_name > span:last-child { margin-left: 4px; width: 100px; } }
.creative_content_header .creative_info_area #creative_name img { width: 56px; height: 56px; border-radius: 100%; }
@media (max-width: 1024px) { .creative_content_header .creative_info_area #creative_name img { width: 48px; height: 48px; } }
@media (max-width: 800px) { .creative_content_header .creative_info_area #creative_name img { width: 32px; height: 32px; } }
.creative_content_header .creative_info_area #social_links { text-align: right; padding-left: 20px; }
@media (max-width: 800px) { .creative_content_header .creative_info_area #social_links { display: none; } }
@media (max-width: 1024px) { .creative_content_header .creative_info_area #social_links { padding-left: 6px; } }
.creative_content_header .creative_info_area #social_links img { width: 32px; height: 32px; border-radius: 100%; margin-left: 12px; }
.creative_content_header .creative_info_area #social_links2 { display: none; font-size: 16px; }
@media (max-width: 800px) { .creative_content_header .creative_info_area #social_links2 { display: table-cell; padding-left: 2%; } }
.creative_content_header .creative_info_area .attention_num { padding-left: 32px; }
@media (max-width: 1024px) { .creative_content_header .creative_info_area .attention_num { padding-left: 16px; } }
.creative_content_header .creative_info_area .edit_btn { width: 192px; padding-left: 32px; }
@media (max-width: 1024px) { .creative_content_header .creative_info_area .edit_btn { width: 160px; padding-left: 16px; } }
@media (max-width: 500px) { .creative_content_header .creative_info_area .edit_btn { width: 80px; } }
.creative_content_header .creative_info_area .btn_pink { color: #fff; background: #ee5b8d; }
.creative_content_header .creative_info_area .social_links_close { display: none; font-size: 16px; padding-left: 32px; }

.creative_content { position: relative; width: 960px; text-align: center; margin: 128px auto 64px auto; }
@media (max-width: 1024px) { .creative_content { width: 100%; } }
.creative_content .creative_title { position: relative; font-size: 18px; text-align: left; padding: 32px 0; }
@media (max-width: 1024px) { .creative_content .creative_title { padding: 26px 0 42px 0; } }
@media (max-width: 800px) { .creative_content .creative_title { text-align: center; } }
.creative_content .creative_title div { display: inline-block; text-align: center; }
@media (max-width: 800px) { .creative_content .creative_title div { display: block; } }
.creative_content .creative_title div span { display: block; }
.creative_content .creative_title > div:first-child { font-size: 48px; }
.creative_content .creative_title > div:first-child span { margin-left: -12px; width: 500px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 80px; }
@media (max-width: 1024px) { .creative_content .creative_title > div:first-child span { font-size: 38px; margin-left: 0; line-height: 60px; } }
@media (max-width: 960px) { .creative_content .creative_title > div:first-child span { width: 400px; margin: auto; } }
@media (max-width: 800px) { .creative_content .creative_title > div:first-child span { line-height: 40px; font-size: 24px; margin-bottom: 32px; } }
@media (max-width: 500px) { .creative_content .creative_title > div:first-child span { width: 360px; } }
@media (max-width: 400px) { .creative_content .creative_title > div:first-child span { width: 300px; } }
.creative_content .creative_title > div:last-child { float: right; }
@media (max-width: 800px) { .creative_content .creative_title > div:last-child { float: none; } }
.creative_content .creative_title > div:last-child div { display: inline-block; padding-left: 32px; padding-right: 32px; }
.creative_content .creative_title > div:last-child div:first-child { border-right: 4px solid #eef4f4; }
.creative_content .creative_title > div:last-child span:first-child { margin-bottom: 16px; }
.creative_content .creative_banner { position: relative; width: 960px; height: 450px; overflow: hidden; border: 1px solid #d4d4d4; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
@media (max-width: 1024px) { .creative_content .creative_banner { width: 100%; height: auto; } }
@media (max-width: 800px) { .creative_content .creative_banner { margin-bottom: 32px; width: 96%; margin: auto; } }
.creative_content .creative_banner img { width: 100%; height: 100%; }
.creative_content .main_content ul li { margin: 84px 32px 32px -0.6% !important; }
.creative_content .tab { width: 960px; }
.creative_content .waterfall_content:hover .content_box .content_box_menu { display: block; }
.creative_content .waterfall_content:hover .content_box .content_box_menu .content_box_menu_down { display: block; }
.creative_content .waterfall_content { position: relative; width: 960px; overflow: hidden; }
.creative_content .waterfall_content .content_box { position: relative; float: left; width: 300px; margin-bottom: 48px; overflow: hidden; }
.creative_content .waterfall_content .content_box .content_box_menu { position: absolute; z-index: 2; display: none; color: #ffffff; right: 2%; top: 2%; font-size: 32px; }
.creative_content .waterfall_content .content_box .content_box_img img { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.creative_content .waterfall_content .content_box .content_box_img img:hover { filter: brightness(60%); }
.creative_content .waterfall_content .content_box .content_box_icon { text-align: right; margin: 8px 0; color: #4d4d4d; }
.creative_content .waterfall_content .content_box .content_box_icon .fa { font-size: 16px; margin-left: 6px; }
.creative_content .waterfall_content .content_box .content_box_name { font-size: 16px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; line-height: 25px; letter-spacing: 1.5px; text-align: justify; width: 300px; color: #4d4d4d; }
.creative_content .waterfall_content .content_box .content_box_name:hover { color: #00acc1; }
.creative_content .waterfall_content .content_box:first-child { margin-left: 0; }
.creative_content .aboutme { background: #f2f2f2; padding: 16px; font-size: 16px; letter-spacing: 1.5px; line-height: 25px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; text-align: left; }

.creative_num { font-size: 48px; font-weight: 500; }
@media (max-width: 1024px) { .creative_num { font-size: 38px; } }
@media (max-width: 800px) { .creative_num { font-size: 24px; font-weight: 700; } }

.content_box_menu_down { background: #ffffff; border: 1px solid #d4d4d4; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; text-align: center; letter-spacing: 2px; width: 120px; }
.content_box_menu_down ul li { display: block; font-size: 18px; }

/* 創作人專區區塊結束 */
