$mainColor: #f6f6f6;
$subColor: #FFF;
$fontcolor: #9d9d9d;
$fontcolor02: #5b5b5b;
$fontcolornav: #3e3a39;
$titlecolor: #108199;
$bordercolor: #cccccc;
$buttoncolor: #00b7b0;
$navcolor:#2cb0aa;
$base-font-size: 14px;  
$base-line-height: 20px;  
$rhythm-unit: 'px'; 
$maxWidth: 100%;
$footerbg: #6d6e72;
$boxborder: #e8e8e8;
$pinkcolor: #ee5b8d;
$promocolor: #707070;
$promocolorgr: #12bab0;


