/* 共同區塊設定 */
@charset "UTF-8";
*{
  margin:0;
  padding:0;
  position: relative;
}

a{
 color: #4D4D4D !important;
 text-decoration: none;
}

a:hover{
  color: #00acc1 !important;
}

ol, ul { list-style: none; }

html{
  width: 100%;
  background: #f5f5f5;
}

body{
  color: #4D4D4D !important;
  background: #fff;
  margin:auto;
  width: 100%;
}

img{ width: 100%; height: auto; }

/* 表頭設定 */
#header { 
  width: 100%; background-color: #fff; position: fixed; top: 0px; z-index: 999; 
  text-align:center;
  //border-bottom: 3px solid #fff;
  height: 76px;
	line-height:76px;
	text-align: right;
	    //border-bottom: 2px solid #00b7b0;
		    //box-shadow: 1px 1px 5px #d2d2d2, -1px 1px 5px #d2d2d2;
			//box-shadow: 1px 1px 0px #d4d4d4, 1px 1px 0px #d4d4d4;
			border-bottom: 1px solid #e8e8e8;
}

@media (max-width: 1024px){

#header{
	height: 64px;
	line-height:64px;
	}

}


@media (max-width: 800px){

#header{height: 44px;
	line-height:44px}

}



#header_top{
	position: relative;
	width: 100%;
	//height: 64px;
	//line-height:64px;
	height: 76px;
	line-height:76px;
	display: inline-block;
	//text-align: left;
}

@media (max-width: 1024px){
  #header_top{
    height: 64px;
	line-height:64px;
	text-align: right;
  }
}

@media (max-width: 800px){
  #header_top{
    height: 44px;
	line-height:44px;
	text-align: right;
  }
}



#header_top .header_logo, #header_top .header_search, #header_top .header_menu, #header_top .pin_creator{
  display: inline-block;
  vertical-align: middle;
}

#header_top .header_logo{
	float:left;
	//width: 200px;
	width: 240px;
    //background: url("https://cdn.pinpinbox.com/static_file/pinpinbox/zh_TW/images/logo.png") no-repeat center left;
	background: url("logo.svg") no-repeat center left;
	
	//background-size: cover;
	//background-size: 200px 40px;
	background-size: 220px 44px;
}

@media (max-width: 1300px){
    #header_top .header_logo{
		width: 200px;
background-size: 200px 40px;
	}

}
#header_top .header_logo { color: transparent !important; }

@media (max-width: 800px){
    #header_top .header_logo{
		//margin-left: 5%;
		margin-left: 3%;
	  //width: 80px;
	  //width: 10%;
	  //width: 15%;
	  width: 8%;
	  height: 44px; 
	  line-height: 44px;
	  background-size: 30px 31px !important;
	  //background-size: contain;
	  //background: url("https://cdn.pinpinbox.com/static_file/pinpinbox/zh_TW/images/logo.png") no-repeat center left;
      background: url("https://cdn.pinpinbox.com/static_file/pinpinbox/zh_TW/images/m_logo.png") no-repeat center left;
	  //background:#000;
	}
}


#header_top .pin_creator{
  float:left;
  width: auto;
 
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-left: 1%;
}
#header_top .pin_creator a{
 color: #ee5b8d !important;
}

#header_top .header_search{
	float:left;
	width: 20%;
	
}

#header_top .header_search .search-menu{
	top: 80%;
	
	
}

@media (max-width: 1024px){
#header_top .header_search .search-menu{
	top: 85%;
	
	
}
}
@media (max-width: 800px){
#header_top .header_search .search-menu{
	top: 90%;
	
	
}
}

@media (max-width: 1024px){
	#header_top .header_search{
	width: 25%;}
}


.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {

  background: none !important;
}


/*
#header_top .header_search input[type="text"]{
	//width: 100%;height: 42px;line-height: 20px; background-color: rgba(242, 242, 242, 1);border-radius: 6px;
	width: 100%;
	height: 34px;
}
*/
#header_top .header_search input[type="text"]{
	width: 100%;
	height: 34px;
	border-color: #ccc;
	    border: 1px solid #ccc;
		//background-color: #e8e8e8;
}

@media (max-width: 800px){
	#header_top .header_search{
	//width: 60%;
	width: 50%;
}
	
	
#header_top .header_search input[type="text"]{
	//height:28px;
	}

}

#header_top .header_menu{
	//width: 30%;
	//float: right;
	margin-right: 3%;
}

#header_top .mobile_menu{
	float: none;
    //float: right;
	display: inline-block;
	text-align:right;
	//width: 12%;
	margin-right: 3%;
}

#header_top .mobile_menu{display:none;}
 #header_top .mobile_menu img{ width: 30px; height: 31px;}
 
 
 

@media (max-width: 800px){
  #header_top .header_menu{display:none;}
  #header_top .mobile_menu{display:inline-block;}
  
}




.header_menu a{ 
display: inline-block;
text-align: right; 
//font-size: 18px;
font-size: 16px;

margin-left: 32px;
	//height:64px;
	//line-height:64px;
	//height:64px;
	//line-height:64px;
	vertical-align: middle;
}

@media (max-width: 1024px){
.header_menu a{ font-size: 16px;}
}
.header_menu .login{
  color: transparent;
  overflow: hidden;
  
}

.header_menu .login img{
	vertical-align: middle;
  height: 52px;
  width: 52px;
  border-radius: 100px;
}

#login_menu {
  //position: absolute;
  //top:64px;
  //right:0;
  display:none;
  width:100%;
  //height:100%;
  height: 70vh;
  background:#fff;
  border: 1px #bbb solid;
  border-radius:6px;
  //text-align: left;
  text-align: center;
  letter-spacing: 2px;
}

#login_menu ul li a{
margin-left: 0;
}


#login_menu2{
  display:none;
  //position: absolute;
  //top:44px;
  //left:0;
  font-size: 18px;
  //margin-top: 44px;
  padding: 2% 5%;
  //width:100%;
  width:100vw;
  height:98vh;
  background:#fff;
  border-radius:6px;
  line-height: 42px;
  text-align: center;
  border: 1px #bbb solid;
}
#login_menu2 ul{
  margin-top: 22px;
  margin-bottom: 22px;
}

#login_menu.login_menu_down {
  display:block;
  //display:inline-block;
  overflow-y: auto;
}
#login_menu2.login_menu_down {
  display:block;
  overflow-y: auto;
}
.sign_out{
  color: #4d4d4d;
  font-size:18px;
  line-height: 48px;
  background: #d4d4d4;
  font-weight: bold;
  
}

.login_menu_cat{
	font-size: 18px;
	font-weight: bold;
	//background: #e8e8e8;
}


/* 輪播設定 */
#bannner{
  clear:both;
  position: relative;
  //margin-top:64px;
  margin-top:76px;
  width:100%;
  //width:80%;
  //height: 100%;
  height: 500px;
  width: 1920px;
  //height:612px;
  overflow:hidden;
  //text-align: right;
  margin: 64px auto 0 auto;
  
}


@media (max-width: 1920px){
	#bannner{
		//width:100%;
	//margin-top:64px;
	}
	
}

@media (max-width: 1919px){
	#bannner{
		width:100%;
	//margin-top:64px;
	}
	
}


@media (max-width: 1024px){
	#bannner{
		//width:100%;
	margin-top:64px;
	}
	
}

@media (max-width: 800px){
	#bannner{
		width:100%;
		height: 100%;
	}
	
}

#bannner #banner_carousel, #bannner #banner_catbtn{
  //display: inline-block;
  display: block;
}

#bannner #banner_carousel{
  position: relative;
  height: 500px;
  width: 100%;
}

#bannner #banner_carousel{
	//width:70%;
	//width: 100%;
	/*
	position: absolute;
	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index:0;
	*/
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	}

#bannner #banner_carousel img{
  //margin: auto;
  /*
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  */
  margin-top: -10%;
}


.owl-carousel .owl-wrapper-outer {
  //box-shadow: none !important;
}

#bannner #banner_catbtn{
	position: absolute;
	//width:29.5%;
	
	bottom: 5%;
right: 2%;
z-index:2;
font-size: 22px;



}


/*
#banner #banner_carousel .fotorama { width: 100%; }
#banner #banner_carousel .fotorama .owl-theme .owl-controls { display:none; }
#banner #banner_carousel .fotorama .owl-carousel .owl-wrapper-outer {  }
#banner #banner_carousel .fotorama .page { width: 100%; position: relative; }
*/





@media (max-width: 800px){
	#bannner{
	margin-top:44px;
	text-align: center;
	}
	
	
	
  #bannner #banner_carousel, #bannner #banner_catbtn{
	  position: relative;
  display: block;
  width: 100%;
}
#bannner #banner_catbtn{
  padding: 2%;
  margin-left:0;
}
}

.question_mark{
	/*
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #4d4d4d;
  border-radius: 100%;
  */
}

#banner_catbtn > div{
	position: relative;
	display: block;
	line-height: 64px;
  //font-size: 24px;
  color: #4d4d4d ;
text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  letter-spacing:2px;
  background: #fff;
  border-radius: 50px;
  width:250px;
	height: 64px;
	margin-bottom: 2%;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7;
	border: #d4d4d4 dashed 3px;
}

#banner_catbtn div:first-child{ filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity:1; }

#banner_catbtn > div:hover{
	//border-left: 15px #69cedb solid;	
/*
	//background: #00acc1;
	background: #69cedb;
    border-left: 15px #00acc1 solid;	
	//border-left: 15px rgba(76,10,22,0.5) solid;	
	color: #fff;
	-ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1);
	-moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;
    //margin-left: 20px;
	border-bottom-right-radius: 50px 20px;
	*/
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1;
	}

@media (max-width: 1024px){
	#banner_catbtn{bottom: 10%;}
	#bannner #banner_carousel img{
		
		margin: auto;
	}
	
	#banner_catbtn > div{
		font-size: 22px;
	}
	#banner_catbtn > div:hover{
		//border-bottom-right-radius: 50px 20px;
	}
	
}

/*
#banner_catbtn > div > span{
	
	position: absolute;
	//top: 45%;
	top: 42%;
	left: 5%;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index:10;
	
}
*/
/*
#banner_catbtn > div > span:hover{
	//border-left: 15px #69cedb solid;	
	color: #00acc1;
	//color: #fff;
	//color: #000;
	//-ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1);
	//-moz-transition: all 0.3s; -o-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s;
	
}
*/
#banner_catbtn > div:hover img{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7;
  //border-left: 20px #00acc1  solid;	
}
@media (max-width: 1024px){
	
	#banner_catbtn > div:hover img{
	 //border-left: 10px #000 solid;		
	}
	
}



@media (max-width: 800px){
	
	#banner{
	  height: 100%;
	}
	
	#banner_catbtn{
	  position: relative;
	}
	
	#banner_catbtn > div{
		display: inline-block;
		//width: 38%;
		width: 25%;
		  margin: 2%;
		 // border-left: none;
		 //border-radius: 6px;
		 //font-size:18px;
		 font-size:20px;
		}
		#banner_catbtn > div:hover{
			/*
			//background: none;
			border: 1px solid #69cedb;	
			border-radius: 25px;
			*/
		}
		
		#banner_catbtn > div > span{
			//top: 35%;
		}
}

@media (max-width: 500px){
	
#bannner #banner_catbtn{
  padding: 0;
  padding-top: 6%;
}
#banner_catbtn > div{
	//width: 43%;
	width: 46%;
	margin: 1%;
		}
}


@media (max-width: 400px){
	
#bannner #banner_catbtn{
  padding: 0;
  padding-top: 3%;
}
#banner_catbtn > div{
	//width: 43%;
	font-size: 16px;
	margin: 1%;
		}
}




/* 中間內容區塊內縮 */
.main_content{
   clear: both;
   margin: auto;
   //padding-top: 6%;
   padding-top: 3%;
   //width: 85%;
   //width: 80%;
   //width: 60%;
   //width: 56.25%;
   width: 1024px;
}

/* 下方內容區塊內縮 */
 .main_content2{
	 clear:both;
   position: relative;
   //padding-bottom: 10%;
   //padding-bottom: 4%;
   padding-bottom: 8%;
   //width: 90%;
   //width: 80%;
   width: 75%;
   overflow: hidden;
   margin: auto;
   //margin-top: 3%;
   //margin-top: 4%;
       margin-top: 2.2%
 }

@media (max-width: 1024px){
	 .main_content2{
		//width: 100%; 
	   width: 90%; 
	 }
	
}

@media (max-width: 800px){
	 .main_content2{
		padding-bottom: 0;
	   width: 100%;
	 }
	
}
/*  熱門推薦區塊 */

.main_content .tab-container .tab_content .tab,.main_content2 .tab-container .tab_content .tab { display: none; }
.main_content .tab-container .tab_content .tab.active,.main_content2 .tab-container .tab_content .tab.active { display: block; }

.main_content2 .tab-container ul {
	//width: auto;
	text-align: center;
}

.main_content2 .tab-container .nav-pills>li{

  float: none;
}

.main_content .tab-container .nav-pills>li a,.main_content2 .tab-container .nav-pills>li a{

  padding: 10px 7px 
}
	


.main_content .tab-container ul li,.main_content2 .tab-container ul li{
	display:inline-block;
    padding:1%;
	//font-size: 28px;
	font-size: 24px !important;
	margin-right: 2%;
	letter-spacing:5px;
	font-weight: bold;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover {
     color: #00acc1 !important;
}
.main_content .tab-container .nav-pills>li >a,.main_content2 .tab-container .nav-pills>li >a{ color: #d4d4d4 !important; }

.main_content .tab-container .nav-pills>li.active>a, .nav-pills>li.active>a:focus,.main_content2 .tab-container .nav-pills>li.active>a{
 color: #4D4D4D !important;
 background: none !important;
}

.main_content .tab-container .nav>li>a:focus, .nav>li>a:hover,.main_content2 .tab-container .nav>li>a:focus{
  background: none !important;
}


/* .nav>li>a:focus, .nav>li>a:hover */


.main_content .tab-container .hit_story{
  display: inline-block;
  height: 100%;
  width: 29%;
  margin: 2%;
  border-radius: 6px;
  overflow:hidden;
  //font-size: 16px;
  font-size: 14px;
  line-height:25px;
  text-align: justify;
}

@media (max-width: 1024px){
	.main_content {
    width: 98%;
  }
	
  .main_content .tab-container .hit_story{
    width: 28%;
  }
}
.main_content .tab-container .hit_story:hover{
	-ms-transform: scale(1.1, 1.1); -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1);
	-moz-transition: all 0.5s; -o-transition: all 0.5s; -webkit-transition: all 0.5s; transition: all 0.5s;
}

.main_content .tab-container .hit_story:hover img{
  border-radius: 6px;
  
  -ms-transform: scale(1.2, 1.2); -webkit-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2);
	-moz-transition: all 0.8s; -o-transition: all 0.8s; -webkit-transition: all 0.8s; transition: all 0.8s;

}

.main_content .tab-container .hit_story div{
  //margin-bottom: 2%;
  margin-bottom: 3%;
}




.main_content .tab-container .hit_story .story_img{
  overflow: hidden;
}

.main_content .tab-container .hit_story img{
  border-radius: 6px;
  
}



.main_content .tab-container .hit_story .story_info{
  border-top: 2px #d4d4d4 solid;
  font-size: 14px;
  text-align:right;
  padding-top: 3.2%;
}

.main_content .tab-container .hit_story .story_info > div{
  display: inline-block;
  vertical-align: middle;
  
}

.pin_count, .story_view{
	color: #4d4d4d;
}

.pin_count_num{
	font-weight: bold;
	//color: #ffd317;
}

.main_content .tab-container .hit_story .story_info > div:nth-child(1){
  float:left;
}

.main_content .tab-container .hit_story .story_info a div{
	color: 4d4d4d;
}

.main_content .tab-container .hit_story .story_desc{
overflow: hidden; 
text-overflow: ellipsis; 
display: -webkit-box; 
-webkit-line-clamp: 3;
line-height: 25px;
height: 75px;
 letter-spacing: 1.5px;
}

@media (max-width: 800px){
	.main_content{
		//width:95%;
		
	}
	
	.main_content .tab-container ul li{
	  font-size: 24px;
  }
  
  .main_content2 .tab-container ul li{
	  font-size: 24px;
  }
  
  .main_content2 .tab-container ul {

	//text-align: left;
}
  
  
  .main_content .tab-container .hit_story{
	  
	  margin: 2.2%;
	  
  }
  
  .main_content .tab-container  .hit_story:not(:nth-child(-n+4)){
    display: none;
  }
  
  
  .main_content .tab-container .hit_story{
    width: 45%;
  }
  
  	.main_content .tab-container .hit_story div{
       margin-bottom: 2.5%;
    }
}

@media (max-width: 500px){
	#banner_catbtn > div{
		//font-size:16px;
		//font-size:18px;
	}
	
	.main_content .tab-container ul li{
	  font-size: 26px;
  }
  
  .main_content2 .tab-container ul li{
	  font-size: 26px;
  }
	
	.main_content{
		width:90%;
	}
	.main_content .tab-container .tab_content{
	   text-align: center;
	}
	
	.main_content .tab-container .hit_story{
    //width: 80%;
	width: 100%;
	margin-left: 0;
	
  }
    .main_content .tab-container  .hit_story:not(:nth-child(-n+2)){
    display: none;
  }
	
	.main_content .tab-container .hit_story div{
       margin-bottom: 3%;
    }
	
  .main_content .tab-container ul li{
	  font-size: 18px;
	  padding-left: 0.5%;
  }
  
}
	
  
/* 新加入區塊 */
.new_star{
  position:relative;
  width: 29%;
  //width: 300px;
  //margin: 2%;
  //margin: 2% 0.82%;
  margin: 2% 2%;
  display: inline-block;
  //text-align: left;
  letter-spacing: 1.5px;
}


.attention_me{
  position: relative;
  background: #ee5b8d;  
  //width: 192px;
  //width: 18.75%;
  width: 50%;
  height: 40px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  border-radius: 6px;
  //margin-top: 2%;
}


@media (min-width: 801px){

	.attention_me:hover{
	  border: #ee5b8d 1px solid;
	  background: #fff;
	  color: #ee5b8d;
	}


}



@media (max-width: 1024px){
  .new_star{
    //width: 24%;
	//margin: 4%;
	margin: 2% 1.5%;
  }
}

@media (max-width: 800px){
  .new_star{
    width: 40%;
	margin: 2% 4%;
  }
}

@media (max-width: 500px){
  .new_star{
    //width: 80%;
	width: 100%;
	display: block;
	margin: 8% auto;
  }
  
}

.new_star div{
	margin: 0 auto;
  //margin-bottom: 2%;
  //margin-bottom: 4.5%;
  margin-bottom: 6%;
}

.new_star .star_name{
	//margin-top: 7%;
	//margin-top: 8%;
	margin-bottom: 1%;
  text-align: center;
  //font-size: 20px;
  //font-size: 28px;
  font-size: 26px;
}

.new_star .star_img{
  //width: 100%;
  //width: 200px;
  //height: 200px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  overflow: hidden;
}

@media (max-width: 1024px){
  .new_star .star_img{
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 800px){
	
  .new_star .star_img{
    //width: 300px;
    //height: 300px;
  }
  
  
  .new_star:not(:nth-child(-n+2)){
    display: none;
  }
  
  
}

@media (max-width: 800px){
	
	.new_star .star_img{
    width: 260px;
    height: 260px;
  }
}

@media (max-width: 500px){
	
  .new_star .star_img{
    //width: 170px;
    //height: 170px;
	width: 300px;
    height: 300px;
  }
}

.new_star .star_img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.new_star .star_img img:nth-child(2){
  display: none;
  z-index:5;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
}

.new_star .star_img:hover img:nth-child(2){
  display: block;
  -moz-transition: all 0.8s; -o-transition: all 0.8s; -webkit-transition: all 0.8s; transition: all 0.8s;
}

.new_star .story_desc{
  overflow: hidden; 
  word-wrap: break-word;
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  line-height: 25px;
  height: 75px;
  letter-spacing: 1.5px;
}
 /* 分類區塊  */
 .cat_areaw{
   	 overflow: hidden;
	 width: 20%;
	 position: relative;
	 display: inline-block;
	 text-align: center;
	 margin: 2.3%;
	 border-radius: 6px;
	 color: #fff;
	 font-size: 20px;
	 letter-spacing: 2px;
	 vertical-align: middle;
	 //padding: 3%;
 }
 
 /* 維持正方形比例 */
 .cat_area{
	 display: inline-block;
	 line-height: 60px;
     width: 100%;
	 padding-bottom: 100%;
     position: relative;
	 vertical-align: middle;
	 margin: auto;
	 
 }
 
 @media (max-width: 1024px){
.cat_areaw{ 
     margin: 2.1%;
  }
 }
 
  @media (max-width: 800px){
  .cat_areaw{ 
     width: 28%;
  }
 
 }
 
   @media (max-width: 500px){
  .cat_areaw{
	margin: 3%;
   width: 40%;
  }
 
 }
 
 
 
 
 .cat_area div{
	margin: auto;
  //margin-bottom: 1%;
}
 
 .cat_01{
	 //display: inline-block;
   //margin: auto;
   //background: #c5e1a7;
   position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	overflow: hidden;
	
   
 }
 .cat_01,.cat_02,.cat_03,.cat_04,.cat_05,.cat_06,.cat_07,.cat_08{
	
	//border: 1px #d4d4d4 solid;
	//box-shadow: 1px 1px 2px #d4d4d4, 1px 1px 2px #d4d4d4;
	//background-image: url('paper-951491_1280.jpg') ;
	
	background-color: #dadada;
  }
  .cat_01:hover,.cat_02:hover,.cat_03:hover,.cat_04:hover,.cat_05:hover,.cat_06:hover,.cat_07:hover,.cat_08:hover{
	font-size:24px;border-radius:100%;
  }
  .cat_01:hover{
	  background: #c5e1a7;
	  background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180523/5b04de98da605.jpg') ;
	 
	  
	  }
  .cat_01:hover .cat_img img:nth-child(1),.cat_02:hover .cat_img img:nth-child(1),.cat_03:hover .cat_img img:nth-child(1),.cat_04:hover .cat_img img:nth-child(1),.cat_05:hover .cat_img img:nth-child(1),.cat_06:hover .cat_img img:nth-child(1),.cat_07:hover .cat_img img:nth-child(1),.cat_08:hover .cat_img img:nth-child(1){
    display: none;
  }
  .cat_01:hover .cat_img img:nth-child(2),.cat_02:hover .cat_img img:nth-child(2),.cat_03:hover .cat_img img:nth-child(2),.cat_04:hover .cat_img img:nth-child(2),.cat_05:hover .cat_img img:nth-child(2),.cat_06:hover .cat_img img:nth-child(2),.cat_07:hover .cat_img img:nth-child(2),.cat_08:hover .cat_img img:nth-child(2){
   // display: none;
  }
  
  .cat_01:hover .cat_img img:nth-child(2){
  }
  
 .cat_02{
   
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	overflow: hidden;
	
   
 }
 
 .cat_02:hover{
   background: #f8c7c8;
   
   background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180523/5b04de5932593.jpg');
 }
 
  .cat_03{
  
      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }
 
  .cat_03:hover{
  background: #fce69e;
  
 background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180523/5b04de6f5fb4a.jpg');
 }
 
 
   .cat_04{
   
      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }
 
  .cat_04:hover{
  background: #bed8f9;
  
  background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180709/5b4341d7bed9a.jpg');
 }
 
 .cat_05{
  
      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }
   .cat_05:hover{
   background: #faca88;
   
   background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180615/5b233c7b8c5ae.jpg');
 }
 .cat_06{
 
      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }
    .cat_06:hover{
    background: #98d9ce;
	
	background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180523/5b04de09213a9.jpg');
 }
  
 .cat_07{
  
      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }
 
   .cat_07:hover{
    background: #eabbe1;
	background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180615/5b233c8eb3e6a.jpg');
 }
 .cat_08{

      position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
 }
 
    .cat_08:hover{
    background: #b1c3ec;
	background: url('https://cdn.pinpinbox.com/upload/admin/categoryarea_style/20180621/5b2b1726e3b7e.jpg');
 }
 
 .cat_area .cat_img{
	 width: 68px;
	 height: 68px;
 }
 
   .cat_area .cat_img img:nth-child(2){
	   display: none;
	   
   }
 
  .cat_area .cat_img img{
	  
	  text-align: center;
  }
  
 .cat_area  .cat_name {
    color: #fff !important;
  }
  


/* 低門檻募資就醬EZ!4個STEP */
.pin_plan_step {
   position: relative;
   width: 100%;
   text-align: center;
   color: #fff;
   margin: 2%;
   font-size: 18px;
}

.pin_plan_step div{
  display: inline-block;
  //width: 200px;
  //height: 200px;
  width: 20%;
  line-height: 180px;
  background: grey;
  border-radius: 100%;
  margin: 1% 2% 1% 2%;
}

 @media (max-width: 800px){
	 
	 .pin_plan_step div{
		 width: 30%;
		 margin: 1% 2% 2% 2%;
	 }
 }
 
  @media (max-width: 500px){
	 
	 .pin_plan_step div{
		 //width: 35%;
		 //width: 40%;
		 width: 42%;
		 margin: 1% 2% 2% 2%;
		 //line-height: 150px;
		 line-height: 100px;
	 }
 }

  
 /* 輕鬆啟動創作募資計劃 */
 .pin_plan{
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  //margin: 2%;
  //background: url('paper-951491_1280.jpg') 130% 130%;
  //background: #60c7d4;
background: #60c7d4; 
 vertical-align: middle;
  overflow: hidden;
  //letter-spacing:2px;
  letter-spacing:3px;
 }
 .pin_plan .plan_video,  .pin_plan .plan_info{
	// margin: 2% auto;
	 //margin-bottom: 2%;
   display: inline-block;
   width:  45%;
   vertical-align: middle;
   //color: #60c7d4; 
   color: #fff;
 }
  .pin_plan .plan_video{
  width:  50%;
    
  }
 
 
 .plan_info {
	 width: 100%;
	 //letter-spacing: 1.5px;
 //font-size: 20px;
 font-size: 22px;
 }
 
  .plan_info > div{
    display: inline-block;
	line-height: 38px;
	//background: #fff;
	margin: 5%;
	padding:2%;
	width: auto;
   border-radius: 6px;
  }
  
   .plan_info .plan_info_num{
     //font-size: 22px;
	 font-size: 24px;
	 font-weight: bold;
   }
  
 
 .plan_video_wrap{
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
 }
 
 
  .plan_video_cnt{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	width: 100%; height: 100%;
}

 .plan_video_cnt iframe{
 width: 100%; height: 100%;
 }
 
  @media (max-width: 800px){
  .pin_plan .plan_video,  .pin_plan .plan_info{
  display: block;
   width:  100%;
   
 }
  }
  
  
  @media (max-width: 1024px){
	   .plan_info{
	     font-size: 18px;
	   }
	   .plan_info .plan_info_num{
	   font-size: 18px;
	   display: inline-block;

	   }
	     .plan_info > div{
		 line-height: 30px;
		 //margin: 5% 0% 5% 3%;
		 }
     
  }
  
    @media (max-width: 500px){
		.plan_info{
		  //text-align: right;
		}
		.plan_info span:nth-child(1){
		  //display: block;
		}
		.pin_plan .plan_video,  .pin_plan .plan_info{
	 margin: 0 auto;
		}
		 .plan_info > div{
			 
			 padding: 2% 5%;
		 }
	}

/* FOOTER區塊開始  */
#footer{
  display: block;
  width: 100%; 
  //background-color: #6d6e72; 
  background-color: #101010; 
  //padding: 1px 0px; 
  position: fixed; bottom: 0px; z-index: 24; 
  //vertical-align: middle;
  text-align: center;
}



#footer #footer_area{
  position: relative;
  display:inline-block;
  width: 80%;
  color: #fff;
  //text-align: right;
  text-align: left;
  //margin: auto;
  //line-height: 42px;
  //height: 42px;
  line-height: 64px;
  height: 64px;
  letter-spacing: 1.5px;
}


@media (max-width: 1024px){
	#footer #footer_area{
	  line-height: 42px;
	  height: 42px;
	 
	}
}
#footer .footer_copyright{
  //margin-left: 2%;
  float: right;
}

#footer #footer_area ul li{
  display: inline-block;
  //float: left;
  margin-right: 2%;
}
#footer #footer_area ul li:last-child{
  margin-right: 0;
}

#footer #footer_area ul li a{
  color: #fff !important;  

}

#footer #footer_area .mobile_footer_lang{
  display: none;
}


#footer #footer_area .dropdown-menu li{
	width: 100%;
	
}

#footer #footer_area .dropdown-menu li a { 
  color: #9d9d9d !important; 
  //color: #4d4d4d !important; 
}
#footer #footer_area .dropdown-menu li a:hover { 
//color: #9d9d9d !important;
color: #4d4d4d !important; 
}




 @media (max-width: 1024px){
	 #footer #footer_area{
  //width: 100%;
  width: 95%;
	 }
 
 }




 @media (max-width: 800px){
	#footer{
	   position: relative;
	   height: 100%;
	   padding: 3%;
	 }
    #footer #footer_area ul li:not(.mobile_show){
	  display: none;
	}
	#footer #footer_area{
		//line-height: 32px;
		height: 96px;
	}
	#footer .footer_copyright{
		 //display: block;
		 
	}
	#footer #footer_area ul li{
		display: block;
	}
	#footer #footer_area .mobile_footer_lang{
		display: block;
		position: absolute;
		right: 0;
		//top: 10px;
		top: 6px;
	}
	#footer #footer_area .mobile_footer_lang select{
	  width: 40vw;
	  height: 30px;
	  color: #4d4d4d;
	}
 }
  @media (max-width: 500px){
	  #footer #footer_area{
		  height: 130px;
		  //height: 100%;
		  line-height: 30px;
	  }
	  
	  #footer #footer_area ul{
		  //text-align: right;
		  //width: 100%;
		  //padding-top: 50px;
	  }
	  
	  
  }
 /* 回上方箭頭與FB區塊 */
#right_btn { width: auto; position: fixed; right: 4%; z-index: 100; bottom: 80px; width: 52px; }


#scroll_top { width: 100%; height: auto; margin-bottom: 15px; display:none; }
#scroll_top img { width: 100%; height: auto; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
#scroll_top img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

#fb_link { width: 100%; height: auto; }
@media (max-width: 800px) { 
#fb_link { display: none; } 
}
#fb_link img { width: 100%; height: auto; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
#fb_link img:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.topFixed{
  display: block !important;
}